.add
{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:greenyellow;
    padding:30px;
}
.add1
{
   
    border: 5px solid green;
    padding:20px;
}